<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.ecuad.whathehex" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WhaTheHex</name>
    <description>
        Mobile application to find out what the heck that hex code is! Capture images, load from your devices gallery, or use the built in RGB sliders to find and save the hex codes for using in your next design project! Created with Onsen UI project to create fancy user interfaces for hybrid mobile applications. It uses uses Apache Cordova to help you build an app that targets multiple mobile platforms: Android, iOS, Windows, and Windows Phone.
    </description>
    <author email="brian@corbercreative.com" href="http://corbercreative.com">
        Brian Corber
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
